Source: ocrshot
Priority: optional
Maintainer: rail5 <andrew@rail5.org>
Build-Depends: debhelper (>= 13.0.0)
Standards-Version: 3.9.3
Section: utils

Package: ocrshot
Version: 1.0
License: GPL-3.0
Vendor: rail5 <andrew@rail5.org>
Priority: optional
Architecture: all
Depends: gnome-screenshot, xclip, tesseract-ocr, graphicsmagick-imagemagick-compat, ${misc:Depends}
Description: Copies text to clipboard from screenshot via Optical Character Recognition
 ocrshot allows you to copy-and-paste text from videos, pictures, etc
